var
elpa
eshell
bookmarks
smex-items
.cache
.mc-lists.el
projectile-bookmarks.eld
projectile.cache
server
url
ac-comphist.dat
request
spot4e
config.el
network-security.data
quelpa
straight
.trello
.lsp-session-v1
session.*
transient/
tramp
auto-save-list
%backup%~